*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Arial', serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 40px;
  }
}

.header {
  border-bottom: 2px solid rgb(13, 122, 109);
}

.header__wrapper {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header__list a {
  cursor: pointer;
}